<!-----creating a table -->
<h1>My Todo's </h1>
<div class ="container">
<table class="todo">
    <caption>
        My Daily Task
    </caption>
    <thead>
        <tr>
         <!---  <th>id</th>-->
            <th>description</th>
            <th>Estimated Date</th>
            <th>Is completed</th>
        </tr>
    </thead>
    <tbody>
        <!---in java this is eqiuvalant for(Todo todo: todos) -->
        <tr *ngFor="let todo of todos">
          <!---  <td> {{todo.id}} </td>-->
            <td> {{todo.description}} </td>
            <!--formating the data-->
            <td> {{todo.date | date | uppercase}} </td>
            <td> {{todo.complete}} </td>
        </tr>
    </tbody>
</table>
</div>
